.header {
  background: url(../image/header-bg.png) no-repeat center/cover;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 153px;
}

.booked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booked__img {
  margin-right: 13px;
}

.booked__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  max-width: 123px;
  color: #ffffff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__info {
  margin-right: 22px;
}

.info__text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  text-align: right;
}

.info__phone {
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700;
}

.menu {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#230a16), to(#0c0b15));
  background-image: linear-gradient(to right, #230a16 0%, #0c0b15 100%);
  padding: 15px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.nav__item:nth-child(8)::after {
  display: none;
}

.nav__item::after {
  content: "";
  width: 1px;
  height: 31px;
  background-color: #ffffff;
  opacity: 0.3;
  margin-left: 30px;
}

.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn--outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.285rem 2.14rem 1.285rem 2.14rem;
  background-color: transparent;
  border: 1px solid #ffd11a;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.04px;
  text-transform: uppercase;
  color: #ffd11a;
}

.btn--primary {
  background-color: #ffd11a;
  border: none;
  padding: 18px 23px;
  border-radius: 40px;
  color: #1e1c34;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.04px;
  text-transform: uppercase;
}

.btn__img {
  margin-right: 12px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */