.header {
  background: url(../image/header-bg.png) no-repeat center/cover; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0; }
  .header__logo {
    margin-right: 153px; }

.booked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .booked__img {
    margin-right: 13px; }
  .booked__text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    max-width: 123px;
    color: #ffffff; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contacts__info {
    margin-right: 22px; }

.info__text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  text-align: right; }

.info__phone {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700; }

.menu {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#230a16), to(#0c0b15));
  background-image: -o-linear-gradient(left, #230a16 0%, #0c0b15 100%);
  background-image: linear-gradient(to right, #230a16 0%, #0c0b15 100%);
  padding: 15px; }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }
  .nav__item:nth-child(8)::after {
    display: none; }
  .nav__item::after {
    content: "";
    width: 1px;
    height: 31px;
    background-color: #ffffff;
    opacity: 0.3;
    margin-left: 30px; }

.hero {
  position: relative;
  background: url(../image/hero__bg.png) no-repeat center/cover; }
  .hero__swiper-slide {
    background: url("../image/slide-bg.png") no-repeat center/cover; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.col-50 {
  max-width: 50%; }

.col-50 {
  max-width: 50%; }
  .col-50__left {
    margin-top: 4rem;
    margin-right: -3rem;
    margin-left: auto;
    padding-bottom: 10rem; }

.right__image {
  width: 100%;
  height: 100%; }

.left__image {
  position: absolute;
  margin-top: -2rem;
  margin-left: 5rem; }

.left__subtitle {
  margin: 0;
  margin-left: 3rem;
  color: #ffffff;
  font-size: 3.42rem;
  font-weight: normal;
  text-transform: uppercase; }

.left__title {
  margin: 0;
  margin-left: 3rem;
  color: #ffd11a;
  font-size: 5.1rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 4rem; }

.left__price {
  font-family: "Roboto - Regular";
  color: #ffffff;
  margin-left: 3rem;
  font-size: 3.42rem;
  font-weight: 400;
  text-transform: uppercase; }

.left__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2.125rem;
  margin-left: 3rem; }

.text__date {
  display: block;
  min-width: 27.07rem;
  margin-top: 0;
  color: #ffffff;
  font-size: 1.714rem;
  font-weight: 300;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: "Roboto Light"; }

.text__phone {
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 1.714rem;
  color: #ffffff;
  text-decoration: none; }

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  height: 4px;
  width: 22px;
  border-radius: 2px;
  margin-left: 1rem; }

.swiper-pagination-bullet-active {
  background-color: #ffd11a;
  outline: none; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 50px; }

.clubs__col-50 {
  margin-right: 2rem;
  border: 1px solid rgba(39, 25, 48, 0.14); }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .card__image {
    border-style: none; }
  .card__address {
    background: #ffffff;
    padding-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 2rem; }

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #2e2e2e; }

.address__title {
  text-align: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-family: "Roboto Medium";
  font-size: 18px;
  font-weight: 500; }

.address__image {
  max-width: 100%; }
  .address__image--left {
    margin-right: 3rem; }
  .address__image--right {
    margin-left: 3rem; }

.free {
  background: #1e1c34 url(../image/free-bg.png) no-repeat center/cover; }
  .free__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 27px; }

.policy__label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.04px;
  text-transform: uppercase;
  color: #ffffff; }

.policy__checkbox {
  border: 1px;
  margin-right: 6px;
  background-color: #ffffff;
  width: 18px;
  height: 18px; }
  .policy__checkbox:checked {
    background-color: #ffd11a; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .form__input {
    padding: 15px 100px 15px 30px;
    border-radius: 40px;
    margin-right: 6px;
    border: none; }

@media screen and (max-width: 1200px) {
  .booked {
    display: none; }
  .contacts__info {
    display: none; }
  .left {
    margin-bottom: 1rem; }
    .left__image {
      display: none; }
    .left__subtitle {
      font-size: 2.42rem; }
    .left__title {
      font-size: 3.1rem; }
  .right__image {
    bottom: 0; }
  .clubs__col-50 {
    max-width: 100%; } }

@media screen and (max-width: 992px) {
  .col-50__left {
    text-align: center;
    margin: 0 auto; }
  .text__date {
    display: none; }
  .left__image {
    display: none; }
  .left__subtitle {
    margin-top: 5rem;
    font-size: 1.42rem; }
  .left__title {
    font-size: 2.1rem; }
  .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .col-50 {
    width: 100%; }
  .clubs__col-50 {
    margin-bottom: 1rem; }
  .card {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
  .address__image {
    display: none; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .form__input {
      margin-bottom: 1rem; } }

@media screen and (max-width: 768px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .col-50 {
    width: 100%; }
  .header__content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .booked {
    display: none; }
  .contacts__info {
    display: none; }
  .logo {
    margin: 0;
    margin-right: 1rem; }
  .btn {
    margin-right: 1rem; }
  .col-50__left {
    text-align: center;
    margin: 0;
    padding: 0; }
  .left {
    margin-bottom: 1rem; }
    .left__image {
      display: none; }
    .left__text {
      display: none; }
    .left__subtitle {
      margin-top: 1rem;
      font-size: 1rem; }
    .left__title {
      font-size: 2rem; }
    .left__price {
      font-size: 3rem; }
  .clubs__col-50 {
    max-width: 100%;
    margin-left: 2rem; }
  .card {
    width: 100%; }
    .card__image {
      width: 100%; } }

@media screen and (max-width: 520px) {
  .clubs__col-50 {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .col-50__left {
    margin: 0 auto; }
  .left__title {
    font-size: 1.2rem; }
  .left__price {
    font-size: 1.2rem; }
  .right__image {
    display: none; }
  .card {
    width: 100%; }
    .card__image {
      max-width: 100%; }
  .address__text {
    font-size: 12px; }
  .form__input {
    max-width: 100%; }
  .free__title {
    font-size: 1rem; }
  .policy__label {
    font-size: 0.725rem; } }

.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto; }

.btn--outline {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 1.285rem 2.14rem 1.285rem 2.14rem;
  background-color: transparent;
  border: 1px solid #ffd11a;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.04px;
  text-transform: uppercase;
  color: #ffd11a; }

.btn--primary {
  cursor: pointer;
  background-color: #ffd11a;
  border: none;
  padding: 0.714rem 1.642rem;
  border-radius: 40px;
  color: #1e1c34;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.04px;
  text-transform: uppercase; }

.btn__img {
  margin-right: 12px; }

.section {
  padding: 60px 0; }
  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3.857rem;
    font-size: 28px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    color: #2e2e2e; }
    .section__title::after {
      content: "";
      width: 87px;
      height: 2px;
      background-color: #ffd11a;
      margin-top: 21px; }
    .section__title--dark {
      color: #ffffff; }
      .section__title--dark::after {
        display: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }
