.btn
  &--outline
    display: flex
    align-items: center
    position: relative
    padding: 1.285rem 2.14rem 1.285rem 2.14rem
    background-color: transparent
    border: 1px solid $ye
    border-radius: 40px
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
    color: $ye
  &--primary
    background-color: $ye
    border: none
    padding: 18px 23px
    border-radius: 40px
    color: $purp
    font-family: Roboto
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
  &__img
    margin-right: 12px