.btn
  &--outline
    display: flex
    align-items: center
    position: relative
    padding: 1.285rem 2.14rem 1.285rem 2.14rem
    background-color: transparent
    border: 1px solid $ye
    border-radius: 40px
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
    color: $ye
  &--primary
    background-color: $ye
    border: none
    padding: 18px 23px
    border-radius: 40px
    color: $purp
    font-family: Roboto
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
  &__img
    margin-right: 12px
.section
  padding: 60px 0
  &__title
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    margin-bottom: 3.857rem
    
    font-size: 28px
    font-weight: 400
    line-height: 23px
    text-transform: uppercase
    color: $black
    &::after
      content: ""
      width: 87px
      height: 2px
      background-color: $ye
      margin-top: 21px