.btn
  &--outline
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: 13px 34px 13px 34px
    background-color: transparent
    border: 1px solid $ye
    border-radius: 40px
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
    color: $ye
    &::before
      content: ""
      background: url(../image/arrow.svg) no-repeat center
      width: 15px
      height: 6px
      margin-right: 12px
  &--primary
    cursor: pointer
    background-color: $ye
    border: none
    padding: 18px 24px
    border-radius: 70px
    color: $purp
    font-family: Roboto
    font-size: 12px
    font-weight: 700
    line-height: 22.04px
    text-transform: uppercase
  &__img
    margin-right: 12px
.section
  padding: 60px 0
  &__title
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    margin-bottom: 1.857rem
    font-size: 28px
    font-weight: 400
    line-height: 23px
    text-transform: uppercase
    color: $black
    &::after
      content: ""
      width: 87px
      height: 2px
      background-color: $ye
      margin-top: 21px
    &--dark
      color: $white
      &::after
        display: none
img
  max-width: 100%
a
  text-decoration: none
.menutoggle
  cursor: pointer
  max-width: 6rem
  top: 0
  left: 0
  display: none
.contacts
  &__btn
    padding: 15px 24px
.free
  &-btn
    padding: 18px 42px
.minimenu
  position: absolute
  opacity: 0
  visibility: hidden
  left: 8px
  top: 50px
  border: none
  z-index: 7000
  background: #ffd11a
  padding: 25px 0px 5px 30px
  border-radius: 0 6px 6px 6px
  width: 265px
  &__group
    display: block
    margin-bottom: 1rem
.active
  opacity: 1
  visibility: visible
.mini
  &__title
    font-size: 14px
    font-weight: 700
    line-height: 20px
    font-family: "Roboto - Bold"
    color: $black
  &__text
    font-size: 14px
    font-weight: 300
    line-height: 20px
    font-family: "Roboto Light"
input
  &.invalid
    border: 1px solid tomato

.invalid
  color: tomato