@import 'var'
@import 'templates/header'
@import 'templates/menu'
@import 'templates/hero'
@import 'templates/media'
@import 'grid'
@import 'interface'
@import 'normalize'

html
  14px
*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: "Roboto", sans-serif