.cards
  &__col-50
    margin-left: 92px
  &__form
    margin-top: 27px
    display: flex
    flex-direction: column
  &__input
    width: 100%
    padding: 18px
    margin-bottom: 12px
    border: 1px solid #b7b7b7
    &::placeholder
      font-size: 1rem
      line-height: 24px
  &__policy
    margin-left: 25px
    
    display: flex
    flex-basis: 100%
    &__checkbox
      width: 21px
      height: 21px
      border: 1px solid #b7b7b7
      color: $white
  &__label
  
    color: #94939a
    font-size: 11px
    font-weight: 300
    line-height: 22.04px
    text-transform: uppercase
    
  &__time
    margin-bottom: 5px
  &__btn
    &--primary
      margin-top: 1rem
      margin-left: 19rem
.time
  display: flex
  justify-content: space-between
  padding-bottom: 1.3rem
  &__label
    text-align: center
    cursor: pointer
    border: 1px solid #b7b7b7
    border-radius: 40px
    font-size: 12px
    font-weight: 400
    line-height: 22.04px
    text-transform: uppercase
    color: #1e1c34
    opacity: 0.6
  &__first
    padding: 15px 30px
    &:hover
      background-color: $ye
      opacity: 1
  &__second
    padding: 15px 24px
    &:hover
      background-color: $ye
      opacity: 1
  &__third
    padding: 15px 26px
    &:hover
      background-color: $ye
      opacity: 1
  &__fourth
    padding: 15px 24px
    &:hover
      background-color: $ye
      opacity: 1
  &__input
    display: none
.club
  margin-bottom: 22px
  display: flex
  &__label
    margin-left: 12px
  &__input
.label
  font-size: 16px
  font-weight: 300
  line-height: 22px
  &__title
    display: block
    font-weight: 500
  &__text
   
.items
  &__image
    margin-top: -40px