.cards
  &__col-50
    margin-left: 92px
  &__form
    margin-top: 27px
    display: flex
    flex-direction: column
  &__input
    
    width: 498px
    margin-bottom: 12px
    border: 1px solid #b7b7b7
    &::placeholder
      font-size: 1rem
      line-height: 24px
  &__btn
    &--primary
      justify-content: flex-end
  &__policy
    margin-top: 12px
    display: flex
    flex-basis: 100%
    &__checkbox
      width: 21px
      height: 21px
      border: 1px solid #b7b7b7
      color: $white
  &__label
    color: #94939a
    font-size: 11px
    font-weight: 300
    line-height: 22.04px
    text-transform: uppercase
  &__time
    margin-bottom: 27px
   
.time
  &__label
    text-align: center
    cursor: pointer
    padding: 15px 24px
    border: 1px solid #b7b7b7
    border-radius: 40px
    font-size: 12px
    font-weight: 400
    line-height: 22.04px
    text-transform: uppercase
    color: #1e1c34
    opacity: 0.6
    &:hover
      background-color: $ye
      opacity: 1
  &__input
    display: none
.club
  margin-bottom: 26px