@media screen and ( max-width: 1368px )
  .right
    &__image
      margin-bottom: -12rem
@media screen and ( max-width: 1200px  )
  .booked
    display: none
  .contacts
    &__info
      display: none
  .gallery
    &__swiper-button-next
      display: none
    &__swiper-button-prev
      display: none
  .left
    margin-bottom: 1rem
    &__image
      display: none
    &__subtitle
      font-size: 2.42rem
    &__title
      font-size: 3.1rem
  .right
    &__image
      margin-bottom: -12rem
  .clubs
    &__col-50
      max-width: 100%
  .cards
    &__left
      display: none
    &__label
      margin-right: 2rem
      line-height: 10px
      font-size: 9px
    &__col-50
      margin: auto
    &__btn
      &--primary
        margin: 0 auto
        margin-left: 1rem
        margin-top: 1rem
    &__time
      flex-direction: column
  .time
    &__label
      margin-bottom: 1rem
  .club
    margin: 0
  .label
    margin-bottom: 1rem
@media screen and ( max-width: 992px )
  .mozaika
    &-card
      &__left
        display: none
      &__right
        width: 100%
    &__input
      width: 100%
    &__form
      align-items: center
      flex-direction: column
    &__swiper-pagination
      margin-bottom: -2rem
  .radio
    flex-wrap: wrap
    &__group
      align-items: center
      margin-bottom: 10px
  .policy-group
    margin: auto
    margin-bottom: 10px
  .form
    &__btn
      margin: auto
      width: 50%
  .schedule
    padding-bottom: 49px
    &__row
      flex-wrap: wrap
      &__right
        width: 100%
    &__left
      margin: auto
    &__btn
      width: 100%
  .list
    &__content
      font-size: 12px
  .content
    margin-right: 
    &__info
  .col-100
    width: 100%
  .about
    &__wrap
      margin-left: auto
      flex-wrap: wrap
    &__item
      margin-bottom: 1rem
  .col-50
    &__left
      text-align: center
      margin: 0 auto
    &__right
      display: none
  .text
    &__date
      display: none
  .left
    &__image
      display: none
    &__subtitle
      margin-top: 5rem
      font-size: 1.42rem
    &__title
      font-size: 2.1rem
  .row
    align-items: center
    flex-direction: column
  .col-50
    width: 100%
  .clubs
    &__col-50
      margin-bottom: 1rem

  .card
    width: 100%
    align-items: center
    margin: 0
    
  .address
    &__image
      display: none
  .form
    flex-direction: column
    &__input
      margin-bottom: 1rem
  .header
    &__btn
      display: none
  .footer
    &__list
      display: none
@media screen and ( max-width: 768px )
  .row
    flex-direction: column
  .col-50
    width: 100%
  .header
    &__content
      justify-content: space-between
  .booked
    display: none
  .contacts
    &__info
      display: none
  .logo
    margin: 0
    margin-right: 1rem
  .btn
    
  .col-50
    &__left
      text-align: center
      margin: 0
      padding: 0
  .left
    margin-bottom: 1rem
    &__image
      display: none
    &__text
      display: none
    &__subtitle
      margin-top: 1rem
      font-size: 1rem
    &__title
      font-size: 2rem
    &__price
      font-size: 3rem
  .clubs
    &__col-50
      max-width: 100%
      margin-left: 2rem
  .card
    
    width: 100%
    &__image
      width: 100%
  .gallery
    display: none
  .footer
    &__wrap
      flex-direction: column
      align-items: center
    &__contacts
    &__logo
      margin-bottom: 1rem
    &__info
      margin: 0 
      margin-left: 2rem
    &__social
      flex-direction: column
    &__label
      &__title
        text-align: center
  .club
    &__input
      
  .social
    &__text
      margin-bottom: 1rem
      text-align: center
      font-size: 10px
  .clubs
    &__tag
      text-align: center
  .hero__swiper-pagination
    display: none
  .label
    &__title
      font-size: 1rem
    &__text
      font-size: 0.7rem
  .menu
    background: $ye
    
    &__nav
      display: none
      transition: 0.3s
  .nav
    &__item
      color: $purp
      &::after
        display: none
  .nav-active
    display: flex
    flex-direction: column
    
  .menutoggle
    display: block
  .free
    &__input
      &__group
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &-btn
      width: 50%
@media screen and ( max-width: 520px )
  .mozaika
    &__swiper-slide
      height: 110px
  .hero
  .clubs
    &__col-50
      text-align: center
      align-items: center
  .col-50
    &__left
      padding-top: 5rem
      padding-bottom: 5rem
      text-align: center
  .left
    
    &__subtitle
      margin: 0
      margin-bottom: 1rem
    &__title
      font-size: 1.5rem
      margin: 0
      margin-bottom: 1rem
    &__price
      font-size: 1.2rem
      margin: 0
      margin-bottom: 1rem
  .btn
    &--primary
      padding: 0.714rem 0.642rem
  .right
    &__image
      display: none
  .card
    width: 100%
    &__image
      max-width: 100%
  .address
    &__text
      font-size: 12px
  .form
    &__input
      max-width: 100%
  .section
    &__title
      font-size: 1.5rem
      line-height: 2.25rem
  .policy
    &__label
      font-size: 0.725rem
  
  .services
    text-align: center
  .discription
    margin-top: 1rem
    margin-left: 4rem